body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

#texte {
  border: solid gray;
  border-radius: .5rem;
  width: 40%;
  height: 20%;
  text-align: center;
  background-image: url(./images/codeur.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#root {
  border: solid gray;
  border-radius: .5rem;
  width: 40%;
  height: 20%;
  text-align: center;
  background-image: url(./images/coder_school.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 50%;
  top: 12%;
  transform: translate(-50%, -50%);
}

#container {
  border: .5px solid gray;
  border-radius: .5rem;
  width: 15%;
  height: 30%;
  /* text-align: center; */
  background-image: url(./images/walpaper.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.color {
  color: aqua;
}

.clr {
  color: whitesmoke;
}