body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

#texte {
  border: solid gray;
  border-radius: 0.5rem;
  width: 40%;
  height: 20%;
  text-align: center;
  background-image: url(./images/codeur.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 80%;
  top: 100%;
  transform: translate(-50%, -50%);
}

#header {
  // border: solid gray;
  width: 100%;
  height: 20rem;
  // height: 30vh;
  border-radius: .5rem;
  background-image: url(./images/coder_school.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#root {
  border: solid gray;
  border-radius: 0.5rem;
  width: 40%;
  height: 20%;
  text-align: center;
  background-image: url(./images/unknow_coder.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
}

#container {
  border: 0.5px solid gray;
  border-radius: 0.5rem;
  width: 15%;
  height: 30%;
  /* text-align: center; */
  background-image: url(./images/walpaper.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 10%;
  top: 100%;
  transform: translate(-50%, -50%);
}

#main {
  width: 80%;
  margin-inline: auto;
  background-color: beige;
}

.color {
  color: aqua;
}

.clr {
  color: aqua;
}

.link {
  text-decoration: none;
  color: #fff;
}
